body { 
  background-color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*
#homeButton{
	float: left;
	width: 70px;
	padding-top: 0;
}

#userHeader{
	float:left;
	padding-top: 11px;
	padding-left: 7px;
}

#signout{
	float: right;
	width: 400px;
	text-align: right;
	padding-top: 11px;	
	padding-right: 11px;
	background-color: #00868B;
}

#change_pw{
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	height: 360px;
	width: 330px;
	border: solid 2px darkgrey;
	border-radius: 10px;
}

.container{
	padding-top: 25px;
}*/

#changepass_div{
	padding: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	height: 300px;
	width: 280px;
	opacity: 0.9;
	background-color: #ffffff;
	border-radius: 20px;
	border: 2px solid grey;
	text-align: center;
}

i.icon-white{
	color: #ffffff;
}

a.icon-teal{
	background-color:  #00868B;
	border-radius: 50px;
	width: 50px;
	vertical-align: center;
}

