body { 
  background-color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header{
	background-color: #00868B;	
	height: 70px;
	width: 100%;
	color: #ffffff;
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 8px;
	font-size: 20px;
}

#homeButton{
	float: left;
	width: 70px;
	padding-top: 0;
}

#userHeader{
	float:left;
	padding-top: 11px;
	padding-left: 7px;
}

#signout{
	float: right;
	width: 400px;
	text-align: right;
	padding-top: 11px;	
	padding-right: 11px;
	background-color: #00868B;
}

#title_holder{
	padding: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	height: 200px;
	width: 580px;
	opacity: 0.9;
	border-radius: 20px;
}

#title{
	font-size: 30px;
	text-align: center;
	padding-top: 10px;
	border-radius: 15px;
	background-color: teal darken;
	border-radius: 20px;
}


#button_holder{
	height: 400px;
	margin-top: 30px;
	margin-left: -60px;
	width: 700px;
}

#ops{
	height: 190px;
	width: 700px;
	padding-top: 30px;
	padding-left: 50px;
}

#label{
	height: 40px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
}

#speed_levels{
	height: 170px;
	width: 700px;
	padding-top: 30px;
	padding-left: 50px;
}

.button{
	height: 120px;
	width: 120px;
	padding-top: 35px;
	text-align: center;
	color: black;
	float: left;
	margin-left: 60px;
	font-size: 20px;
	border: solid 5px black;
	border-radius: 5px;
}

.button:hover{
	opacity: 0.7;
	height: 130px;
	width: 130px;
	color: black;
}

.bg:hover{
	border-top: 30px; 
	height:75px;
	background-color:#99FF99;
}

.speed{
	background-color: green;
	border: solid 5px black;
}

#stop{
	background-color: red;
}

#forward{
	background-color: blue;
}

#reverse{
	background-color: orange;
}

i.icon-white{
	color: #ffffff;
}


a.icon-teal{
	background-color:  #00868B;
	border-radius: 50px;
	width: 50px;
	vertical-align: center;
}