header{
	background-color: #00868B;	
	height: 70px;
	width: 100%;
	color: #ffffff;
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 8px;
	font-size: 20px;
}

#homeButton{
	float: left;
	width: 70px;
	padding-top: 0;
}

#userHeader{
	float:left;
	padding-top: 11px;
	padding-left: 7px;
}

#signout{
	float: right;
	width: 400px;
	text-align: right;
	padding-top: 11px;	
	padding-right: 11px;
	background-color: #00868B;
}

i.icon-white{
	color: #ffffff;
}


a.icon-teal{
	background-color:  #00868B;
	border-radius: 50px;
	width: 50px;
	vertical-align: center;
}