body{
	padding: 0;
	margin: 0;
}

header{
	background-color: #00868B;	
	height: 70px;
	color: #ffffff;
	padding-left: 10px;
	padding-right: 11px;
	padding-top: 8px;
	font-size: 20px;
	width: 100%;
	min-width: 800px;
}

#homeButton{
	float: left;
	width: 20px;
}

#userHeader{
	float:left;
	padding-top: 11px;
	padding-left: 50px;
}

#signout{
	float: right;
	width: 40px;
	text-align: right;
	padding-top: 11px;	
	margin-right: 2%;
}

i.icon-white{
	color: #ffffff;
}


a.icon-teal{
	background-color:  #00868B;
	border-radius: 50px;
	width: 50px;
	vertical-align: center;
}