body { 
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

i.icon-white{
	color: #ffffff;
}

#cardHolder{
	padding-left: 120px;
	padding-top: 80px;
}

.card-panel{
	background-color: lightgrey;
	height: 200px;
	width: 320px;
	text-align: center;
}

#controls{
	width: 200px; 
	border-radius: 20px;
	padding-top: 10px; 
	margin-left: 20px;
	float: left;
}

.holder{
	height: 250px;
	padding-left: 30px;
	padding-top: 10px;	
	margin-left: 250px;
	margin-right: auto;
	margin-top: 25px;
}

.gears{
	height: 100px; 
	width: 100px;
}

.connect_btn:hover{
	opacity: 0.7;
}