body { 
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

i.icon-white{
	color: #ffffff;
}

#controlPanel{
	background-color: grey;
	padding-top: 80px;
	padding-left: 70px;
	height: 600px;
	width: 700px;
}

.btn-white{
	color: black;
}

#controlPanel .btn-large{
	margin-right: 50px;
	margin-top: 50px;
}

#controlPanel .btn-flat{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 50px;
}